@import url("https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.cursive {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.side {
  position: absolute;
  top: 60%;
  right: 0%;
}

.hero_text {
  margin-left: auto;
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 45px;
  font-family: sf pro display;
  font-weight: bolder;
  color: #52a6ff;
}

.hero_para {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 30%;
  margin-top: 15px;
  font-family: poppins;
  font-weight: bold;
  color: #232323;
}

.span_col {
  color: tomato;
}

.image-cover {
  background-size: cover;
  border-radius: 25px;
}
.hero_img {
  position: absolute;
  top: 30%;
  right: 15%;
  width: 400px;
  height: 600px;
}
